* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: black;
}
.logo img {
  width: 50px;
  border-radius: 50%;
}

header h1 {
  color: gold;
  font-size: 45px;
  margin-left: 180px;

}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: gold;
}

/* HERO */
.hero {
  height: 80vh;
  background: url("images/kevo02.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   background-size: 1500px;
}
.hero image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.hero-text {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 15px;
  margin-top: 100px;
}

.hero-text h2 {
  font-size: 38px;
  color: gold;
}

.hero-text p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: gold;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: white;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
  text-align: center;
}

.section h2 {
  font-size: 35px;
  margin-bottom: 30px;
  color: gold;
}
 

/* SERVICES */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #222;
  padding: 25px;
  border-radius: 15px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  border: 1px solid gold;
}

/* GALERIE */
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gallery img {
  border-radius: 15px;
  width: 250px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}
.carousel {
  width: 100%;
  overflow: hidden;
  max-width: 900px; /* largeur max du carousel */
  margin: auto;
  border-radius: 15px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-track img {
  width: 300px;
  flex-shrink: 0;
  border-radius: 15px;
  margin-right: 20px;
  transition: transform 0.3s;
}

.carousel-track img:hover {
  transform: scale(1.05);
}
 
 iframe {
  border-radius: 20px;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

 .section a {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
   
  position: relative;
    padding: 10px 10px;
    background: gold;
    border-radius: 70px;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 50px;
    margin: 10px;
}
 .section a:hover {
  background: rgb(242, 229, 145);
  color: black;
  transform: scale(1.1);
}


/* FOOTER */
footer {
  padding: 20px;
  background: black;
  text-align: center;
}
